[Unit]
AssertPathExists=path_to_the_application
AssertPathIsDirectory=path_to_the_application
AssertDirectoryNotEmpty=path_to_the_application
AssertPathExists=path_to_the_application/main.py
AssertFileNotEmpty=path_to_the_application/main.py
After=network.target
Description=Service that run the script that manage a Web Application

[Service]
ExecStart=source venv/bin/activate; uvicorn main:app --reload; deactivate
Restart=on-failure
RestartSec=5s
Type=simple
User=my_user
WorkingDirectory=path_to_the_application

[Install]
Alias=web_application.service
WantedBy=multi-user.target
